* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "M PLUS Rounded 1c", sans-serif;
  background-color: black;
  color: white;
}

html {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  display: flex;
  flex-direction: column;
  margin: 0 auto 0;
  text-align: center;
}

header img {
  max-width: 300px;
  margin: 0 auto 0;
}

h1 {
  margin: 1rem 0;
}

input {
  max-width: 300px;
  margin: 1rem auto 2rem;
  padding: 0.25rem;
  background-color: white;
  color: black;
}

/* -------
  ARTICLES
  ------ */

/* section.articles {
} */

.article {
  width: 70%;
  margin: 2rem auto;
  padding: 0.5rem;
  font-size: 0.8rem;
  background-color: #DF4C2C;
  border-radius: 5px;
}


h3 {
  font-size: 1.3rem;
  background-color: #DF4C2C;
}

p {
  background-color: #DF4C2C;
}

article:nth-child(2n),
article:nth-child(2n) h3,
article:nth-child(2n) p
{
  background-color: #c6644e;
}

article:hover,
article:hover h3, 
article:hover p {
  background-color: #df792c;
}

article img {
  width: 100%;
}